.logo {
  width: 100px;
  height: 70px;
}
.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(29, 31, 29);
}
.navitems > ul {
  display: flex;
}
.navitems > ul > li {
  margin: 10px;
  padding: 10px;
  list-style-type: none;
  font-size: 20px;
}
.RestroCards {
  background-color: antiquewhite;
  height: 350px;
  width: 200px;
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
}
.foodLogo {
  width: 198px;
  height: 130px;
}
.RestroCards:hover {
  cursor: pointer;
  border: 1px solid black;
  z-index: 9999;
}
.restro-container {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
}
.topRatedRes {
  margin: 10px;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
}
.shimmerCards {
  margin: 10px;
  height: 350px;
  width: 200px;
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
  background-color: rgb(212, 204, 202);
}
.shimmerImg {
  width: 198px;
  height: 130px;
  background-color: rgb(231, 224, 222);
}
.loginbtn {
  padding: 0 10px;
  margin: 0 10px;
  cursor: pointer;
}
.Search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Search {
  margin: 20px;
}
